@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

body {
  background: #9AA7FB;
  width: 100%;
  overflow-x: hidden;
}

.slick-slider :focus {
  outline: none !important;
}

.slick-prev {
  left: 10px;
  z-index: 50;
}

.slick-next {
  right: 10px;
  z-index: 50;
}

.slick-prev {
  background-repeat: no-repeat;
  background-size: contain; /* or cover, depending on your image */
  width: 40px; /* Adjust width and height according to your image */
  height: 40px;
}

.slick-prev:before {
  content: '';
}

.slick-next:before {
  content: '';
}

.slick-next {
  background-repeat: no-repeat;
  background-size: contain; /* or cover, depending on your image */
  width: 40px; /* Adjust width and height according to your image */
  height: 40px;
}

.slick-prev {
  background-image: url('/assets/icon_next_kiri.png');
}

.slick-next {
  background-image: url('/assets/icon_next_kanan.png');
}

/* Apply background images when hovered or clicked */
.slick-prev:hover, .slick-prev:focus, .slick-prev:active {
  background-image: url('/assets/icon_next_kiri.png');
  background-repeat: no-repeat;

}

.slick-next:hover, .slick-next:focus, .slick-next:active {
  background-image: url('/assets/icon_next_kanan.png');
  background-repeat: no-repeat;
}

/* media query for mobile */
@media (max-width: 768px) {
  .slick-prev {
    display: none !important;
  }

  .slick-next {
    display: none !important;
  }
}

.remove-scroll::-webkit-scrollbar {
  display: none;
}

.rotate-style {
  perspective: 25em;
}

.rotate-style img {
  position: relative;
  transform: rotateY(20deg) rotateX(-4deg) !important;
  transform-origin: left center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Remove default appearance */
  margin: 0; /* Optional: Remove default margin */
}

.scrollInToPayemnt {
  scroll-margin: 70px;
}

.scrollInToAccount {
  scroll-margin: 120px;
}